[user]
	email = abedharirii@gmail.com
[credential]
	helper = "!f() { /home/jovyan/.vscode-server/bin/2b9aebd5354a3629c3aba0a5f5df49f43d6689f8/node /tmp/vscode-remote-containers-7c82e9a130a46369fc2c42d26f38279633cfe515.js $*; }; f"
